{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'includes/alerts.html' %} 

<!-- Main Section Start -->
<div class="main-section">
    {% include 'customers/cover.html' %}
    <div class="page-section account-header buyer-logged-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                  <!-- Load the sidebar here -->
                  {% include 'includes/c_sidebar.html' %}
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder">
                        
                        <h2>Change Password</h2>
                        
                        
                        <form action="{% url 'change_password' %}" class="form-fields-set foodbakery-dev-restaurant-form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <ul class="register-add-restaurant-tab-container restaurant-information-tab-container">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <ul class="has-seperator" style="padding-top: 30px;">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label>Email</label>
                                                        <input type="text" value='{{ profile.user }}' id="" readonly class="form-control" name="username" />
                                                    </div>  
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label for="{{ form.old_password.id_for_label }}">Old Password</label>
                                                            {{ form.old_password }}
                                                            {% if form.old_password.errors %}
                                                                <div class="text-danger">{{ form.old_password.errors.0 }}</div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label for="{{ form.new_password1.id_for_label }}">New Password</label>
                                                            {{ form.new_password1 }}
                                                            {% if form.new_password1.errors %}
                                                                <div class="text-danger">{{ form.new_password1.errors.0 }}</div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="help" style="font-size: 10px; padding-left: 20px">
                                                            <ul class="help-list">
                                                                <li style="list-style: circle; margin-bottom: 0px;">Your password can’t be too similar to your other personal information.</li>
                                                                <li style="list-style: circle; margin-bottom: 0px;">Your password must contain at least 8 characters.</li>
                                                                <li style="list-style: circle; margin-bottom: 0px;">Your password can’t be a commonly used password.</li>
                                                                <li style="list-style: circle; margin-bottom: 0px;">Your password can’t be entirely numeric.</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
                                                            {{ form.new_password2 }}
                                                            {% if form.new_password2.errors %}
                                                                <div class="text-danger">{{ form.new_password2.errors.0 }}</div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="help" style="font-size: 10px; padding-left: 20px"><li style="list-style: circle;">Enter the same password as before, for verification.</li></div>
                                                    </div>
                                                    
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="field-holder">
                                                                <div class="payment-holder"  style="left: 15px;">
                                                                    <div class="checkbox-area">
                                                                        <input type="checkbox" id="terms-59054637" name="terms-59054637" class="foodbakery-dev-req-field">
                                                                    </div>
                                                                    <input type="submit" value="Change Password" id="btn-next-restaurant-information" class="bgcolor">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            {% include 'includes/alerts.html' %}
                                                        </div>
                                                    </div>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </form>
                        
                            <!-- <form method="POST" action="" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    
                                    <div class="row mb-2">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <label for="" >Username ( Read Only )</label>
                                                        <input type="text" value='{{ profile.user }}' id="" readonly class="form-control" name="username" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <label for="{{ form.old_password.id_for_label }}" class="form-label">Old Password <span class="text-danger">*</span></label>
                                                    <div class="password-input">
                                                        <input type="password" id="{{ form.old_password.id_for_label }}" class="form-control" name="old_password" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row mb-1">
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <label for="{{ form.new_password1.id_for_label }}" class="form-label">New Password <span class="text-danger">*</span></label>
                                                    <div class="password-input">
                                                        <input type="password" id="{{ form.new_password1.id_for_label }}" class="form-control" name="new_password1" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <label for="{{ form.new_password2.id_for_label }}" class="form-label">Confirm Password <span class="text-danger">*</span></label>
                                                    <div class="password-input">
                                                        <input type="password" id="{{ form.new_password2.id_for_label }}" class="form-control" name="new_password2" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <-- Add more form fields as needed --
                                    
                                    <button class="btn btn-primary mb-5" type="submit">Save</button>
                                </form> 
                            -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->

{% endblock %}