{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FoodOnline</title>
	<link rel="icon" type="image/x-icon" href="{% static 'extra-images/favicon.png' %}">
	<!-- Google Font Family Link Start -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800">
	<!-- Google Font Family Link End -->
	<!-- Bootstrap Link Start-->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
	<link href="{% static 'css/bootstrap-datepicker.css' %}" rel="stylesheet">
	<link href="{% static 'css/bootstrap-slider.css' %}" rel="stylesheet">
	<!-- Bootstrap Link End-->
	<!-- Iconmoon Link Start-->
	<link href="{% static 'css/iconmoon.css' %}" rel="stylesheet">
	<!-- Iconmoon Link End-->


	<!--icon awesome-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://kit.fontawesome.com/d5366bef24.js" crossorigin="anonymous"></script>


	<!-- Animate Link Start-->
	<link href="{% static 'css/animate.css' %}" rel="stylesheet">
	<!-- Animate Link End-->
	<!-- Chosen Link Start-->
	<link href="{% static 'css/chosen.css' %}" rel="stylesheet">
	<!-- Chosen Link End-->
	<!-- Swiper Link Start-->
	<link href="{% static 'css/swiper.css' %}" rel="stylesheet">
	<!-- Swiper Link End-->
	<!-- Woocommerce Link Start-->
	<link href="{% static 'css/woocommerce.css' %}" rel="stylesheet">
	<!-- Woocommerce Link End-->
	<!-- Pretty Photo Link Start-->
	<link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
	<!-- Pretty Photo Link End-->
	<!-- Themes / plugin Link Start-->
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/cs-foodbakery-plugin.css' %}" rel="stylesheet">
	<link href="{% static 'css/color.css' %}" rel="stylesheet">
	<link href="{% static 'css/widget.css' %}" rel="stylesheet">
	<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
	<link href="{% static 'css/rtl.css' %}" rel="stylesheet">
	<!-- Themes / plugin Link End-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="{% static 'js/modernizr.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
	<!-- <script src="path/to/theia-sticky-sidebar.js"></script> -->

	<!-- <script src="{% static 'js/functions-plugin.js' %}"></script> -->
	<!-- Google apis -->
	<!-- <script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}&libraries=places&callback=initAutoComplete" async defer></script> -->
	<script src="{% static 'js/custom.js' %}"></script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<!-- maps api leaflet -->
	<!-- <script src="https://www.mapquestapi.com/search/v4/place?sort=distance&feedback=false&key={{MAPQUEST_API_KEY}}"  async defer></script> -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
	<script src="{% static 'leaflet/data/line.js' %}"></script>
	<script src="{% static 'leaflet/data/point.js' %}"></script>
	<script src="{% static 'leaflet/data/polygon.js' %}"></script>
	<script src="{% static 'leaflet/data/nepaldata.js' %}"></script>
	<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
	<script src="{% static 'leaflet/data/usstates.js' %}"></script>



	<!-- ................................................................................................................................................... -->
	<!--Load the Leaflet CSS file -->
	<!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" /> -->

	<!--Load the Leaflet JavaScript file -->
	<!-- <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script> -->
	<!-- ................................................................................................................................................... -->


	<!-- <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
	<link rel="stylesheet" type="text/css" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"> -->
	<!-- <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>
	<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js" defer></script>
	<script src="{% static 'js/mapquest.js' %}"></script> -->

	<!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id={{PAYPAL_CLIENT_ID}}&currency=USD"></script>
	
    <!-- <script src="https://www.paypal.com/sdk/js?client-id={{PAYPAL_CLIENT_ID}}&currency=EUR"></script> -->
	
	<!-- Include the stripe JavaScript SDK  -->
	<!-- <script src="https://js.stripe.com/v3/"></script> -->

	
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	

</head>

<body>

    <!-- LOAD NAVBAR HERE -->
    {% include 'includes/navbar.html' %}

    <!-- LOAD CONTENT HERE-->
    {% block content %}
        <!-- CONTENT GOES HERE -->
    {% endblock %}
     
    <!-- LOAD FOOTER HERE-->
    {% include 'includes/footer.html' %}



		